

@media (max-width:767px) {


    
    /* MENU */
    
    #menu{
        background-color: var(--color1);
    }

    #navbar{
        position: relative;
        display: inline-block;
    }

    .menu{
        display: none;
        list-style: none;
        padding: 0rem;
        flex-direction: column;
        margin: 0rem;
    }

    .menu li{
        margin: 1rem;
    }

    .menu a:hover{
        background-color: var(--color3);
        
    }

    .menu a {
        text-decoration: none;
        color: var(--color2);
        transition: all ease 0.8s;
        margin: 0rem;
        padding: 1rem;
        
    }
    #navbar:hover .menu {display: flex;}

    #menu-btn{
        background-color: var(--color1);
        color: var(--color2);
    }
    /* FIN MENU */


    /* BREADCRUMBS */
    .breadcrumbs {
        display: flex;
        list-style: none;
        padding: 0;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .breadcrumbs li {
        padding-right: 2rem;
    }

    /* FIN BREADCRUMBS */


    /* DEBUT MAIN */
    main {
        width: 80%;
        margin: auto;
    }

    /* FIN MAIN */

    /* DEBUT FOOTER */

    footer {
        padding: 3rem;
    }

    /* FIN FOOTER */
}
